
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>title</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Enter your city" name="city"/>
        <button type="submit">Enter</button>
    </form>
    <h1>{{description}}</h1>
    <h1>{{temp}}</h1>
    <h1>{{day}}</h1>
    <h1>{{city}}</h1>

</body>
</html>